node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.output
.vinxi
todos.json
.worktrees/

# Turborepo cache
.turbo

# Local Netlify folder
.netlify

storybook-static
*.tsbuildinfo
