@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-body: "Montserrat", sans-serif;
  --font-display: "Vollkorn SC", serif;

  --color-*: initial;
  --color-green-50: oklch(0.968 0.012 161.87);
  --color-green-100: oklch(0.929 0.025 164.34);
  --color-green-200: oklch(0.862 0.047 162.92);
  --color-green-300: oklch(0.79 0.07 162.1);
  --color-green-400: oklch(0.72 0.094 160.69);
  --color-green-500: oklch(0.64 0.102 159.5);
  --color-green-600: oklch(0.544 0.085 159.53);
  --color-green-700: oklch(0.447 0.068 159.63);
  --color-green-800: oklch(0.344 0.05 159.78);
  --color-green-900: oklch(0.222 0.027 161.35);
  --color-green-950: oklch(0.167 0.016 165.36);
  /*--color-grey-50: oklch(0.964 0.009 113.01);
  --color-grey-100: oklch(0.922 0.009 113.03);
  --color-grey-200: oklch(0.837 0.008 114.1);
  --color-grey-300: oklch(0.749 0.007 106.44);
  --color-grey-400: oklch(0.664 0.007 115.65);
  --color-grey-500: oklch(0.577 0.006 117.87);
  --color-grey-600: oklch(0.483 0.006 117.94);
  --color-grey-700: oklch(0.397 0.005 106.52);
  --color-grey-800: oklch(0.309 0.002 106.29);
  --color-grey-900: oklch(0.225 0.004 128.57);
  --color-grey-950: oklch(0.177 0.002 106.5);*/
  /*--color-grey-50: oklch(0.958 0.003 106.01);
  --color-grey-100: oklch(0.913 0.001 105.6);
  --color-grey-200: oklch(0.826 0.001 105.7);
  --color-grey-300: oklch(0.741 0.001 105.8);
  --color-grey-400: oklch(0.65 0.001 105.9);
  --color-grey-500: #747474;
  --color-grey-600: #5e5e5e;
  --color-grey-700: oklch(0.398 0.002 106.18);
  --color-grey-800: #303030;
  --color-grey-900: #1b1b1b;
  --color-grey-950: #111111;*/

  --color-grey-50: oklch(0.965 0.001 18.79);
  --color-grey-100: oklch(0.931 0.002 67.89);
  --color-grey-200: oklch(0.853 0.004 56.48);
  --color-grey-300: oklch(0.784 0.004 56.46);
  --color-grey-400: oklch(0.707 0.004 67.79);
  --color-grey-500: oklch(0.638 0.004 67.78);
  --color-grey-600: oklch(0.535 0.003 84.49);
  --color-grey-700: oklch(0.439 0.002 67.8);
  --color-grey-800: oklch(0.337 0.002 67.77);
  --color-grey-900: oklch(0.24 0.002 17.55);
  --color-grey-950: oklch(0.188 0.002 17.51);

  --color-white: oklch(1 0 0);
  --color-black: ooklch(0.155 0.024 150.65);
  /*--color-fern-50: oklch(0.962 0.022 149.62);
      --color-fern-100: oklch(0.922 0.043 150.52);
      --color-fern-200: oklch(0.854 0.083 149.37);
      --color-fern-300: oklch(0.784 0.127 148.07);
      --color-fern-400: oklch(0.719 0.163 146.91);
      --color-fern-500: oklch(0.65 0.16 146.35);
      --color-fern-600: oklch(0.552 0.132 146.63);
      --color-fern-700: oklch(0.452 0.106 146.85);
      --color-fern-800: oklch(0.343 0.076 147.06);
      --color-fern-900: oklch(0.228 0.045 148);
      --color-fern-950: oklch(0.156 0.023 147.67);
      --color-peach-50: oklch(0.965 0.021 65.33);
      --color-peach-100: oklch(0.933 0.046 68.28);
      --color-peach-200: oklch(0.874 0.097 72.98);
      --color-peach-300: oklch(0.81 0.158 78.91);
      --color-peach-400: oklch(0.712 0.139 78.86);
      --color-peach-500: oklch(0.616 0.12 79.13);
      --color-peach-600: oklch(0.52 0.101 78.96);
      --color-peach-700: oklch(0.425 0.083 78.37);
      --color-peach-800: oklch(0.331 0.065 79.33);
      --color-peach-900: oklch(0.234 0.045 79.71);
      --color-peach-950: oklch(0.188 0.037 78.72);
      --color-maroon-50: oklch(0.968 0.014 17.52);
      --color-maroon-100: oklch(0.925 0.033 17.82);
      --color-maroon-200: oklch(0.862 0.066 18.53);
      --color-maroon-300: oklch(0.788 0.109 19.81);
      --color-maroon-400: oklch(0.725 0.152 21.56);
      --color-maroon-500: oklch(0.655 0.209 25.04);
      --color-maroon-600: oklch(0.587 0.221 27.49);
      --color-maroon-700: oklch(0.505 0.191 27.52);
      --color-maroon-800: oklch(0.388 0.146 27.54);
      --color-maroon-900: oklch(0.26 0.099 27.59);
      --color-maroon-950: oklch(0.207 0.077 27.3);
      --color-ocean-50: oklch(0.966 0.017 247.99);
      --color-ocean-100: oklch(0.922 0.039 249.43);
      --color-ocean-200: oklch(0.843 0.082 244.51);
      --color-ocean-300: oklch(0.762 0.134 240.01);
      --color-ocean-400: oklch(0.685 0.148 237.31);
      --color-ocean-500: oklch(0.591 0.127 237.01);
      --color-ocean-600: oklch(0.504 0.109 237.7);
      --color-ocean-700: oklch(0.409 0.089 237.52);
      --color-ocean-800: oklch(0.316 0.069 237.35);
      --color-ocean-900: oklch(0.231 0.049 236.92);
      --color-ocean-950: oklch(0.176 0.038 235.69);
    --color-stone-50: oklch(0.982 0.004 91.27);
    --color-stone-100: oklch(0.94 0.017 91.51);
    --color-stone-200: oklch(0.844 0.025 94.08);
    --color-stone-300: oklch(0.757 0.022 91.61);
    --color-stone-400: oklch(0.672 0.021 93.73);
    --color-stone-500: oklch(0.586 0.017 94.29);
    --color-stone-600: oklch(0.492 0.014 96.58);
    --color-stone-700: oklch(0.405 0.012 93.72);
    --color-stone-800: oklch(0.317 0.009 88.73);
    --color-stone-900: oklch(0.223 0.007 78.18);
    --color-stone-950: oklch(0.178 0.006 91.65);*/
}
